
.dot {
    height: 5px;
    width: 5px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin : 10px 15px;
    display: inline-block;
}

#edit_album {
    width: 100%;
    height: 100%;
}

.left_side__detail {
    width:30%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_side__detail {
    width: 70%;
    padding: 0 20px;
}


.album_details {
    height: 25px;
}

input[type="file"] {
    position: absolute;
    display: none;
}

#album__img {
    position: absolute;
}

.upload__button {
    position: absolute;
    bottom: 4px;
    right: 0;
    background-color: white;
    border-radius: 10px;
    border: 2px double white;
    padding: 2px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 99;
}

.upload__button:hover {
background-color: #282828;
}

.bx-upload {
    width: 16px;
    height: 16px;
    color: #b2b2b2;
}

.edit_album__title {
    margin: 0 10px 0 0;
    width: 80%;
    min-width: 300px;
    height:50%;
    min-height: 28px;
    padding: 5px;
    display: inline-block;
    background-color: #5c5c5c;
    border: 1px solid #5c5c5c;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20pt;
    color: white;
}

#buttons {
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-end;
    align-items: center;
  }

.theButton {
    max-width: 300px;
    margin: 15px 10px 0 10px;
  }
  
  .theButton:hover {
    cursor: pointer;
    transform: scale(1.025);
  }

  #redButton {
    background-color: #C13B3B;
  }

  #redButton:hover {
    background-color: #a12a2a;
  }

  #warning {
    width: 100%;
    padding-left: 5%;
}

#edit_song__warning_text {
    margin-right: 10px;
}

@media (max-width:900px){

}

@media (min-width:1300px){
    .theButton {
        padding: 15px 20px;
      }
}